<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="community">

	<select id="selectUserCommunityList" parameterType="user" resultType="community">
	<![CDATA[
		SELECT dc.comm_idx,
			dc.comm_name,
			dc.manager_name,
			dc.comm_type_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_TYPE' AND conf_type_cd = dc.comm_type_cd) as comm_type_nm,
			dcu.comm_role_cd,
			dc.comm_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_STAT' AND conf_type_cd = dc.comm_stat_cd) as comm_stat_nm,
			dc.reg_date,
			dc.comm_intro
		FROM dec_community dc, dec_community_user dcu
		WHERE dc.comm_idx = dcu.comm_idx
		AND dcu.comm_role_cd IN (7, 9)
		AND dcu.comm_user_stat_cd = 'A'
		AND dcu.user_idx = #{user_idx}
	]]>
	</select>
	
	<select id="selectCommunityNameDupleCheck" parameterType="java.lang.String" resultType="java.lang.String">
	<![CDATA[
		SELECT comm_name
		FROM dec_community
		WHERE comm_name = #{value}
	]]>
	</select>
	
	<insert id="insertCommunity" parameterType="community">
	<![CDATA[
		INSERT INTO dec_community(comm_name, manager_idx, manager_name, comm_type_cd, comm_stat_cd, comm_reg_cont, comm_intro, reg_date)
		VALUES(#{comm_name}, #{manager_idx}, #{manager_name}, #{comm_type_cd}, #{comm_stat_cd}, #{comm_reg_cont}, #{comm_intro}, NOW())
	]]>
	</insert>
	
	<select id="selectCommunityStatus" parameterType="java.lang.String" resultType="_int">
	<![CDATA[
		SELECT COUNT(*) as count
		FROM dec_community
		WHERE comm_type_cd = #{value}
	]]>
	</select>
	
	<select id="selectAllCommunityList" resultType="community">
	<![CDATA[
		SELECT comm_idx,
			comm_name,
			manager_idx,
			manager_name,
			comm_type_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_TYPE' AND conf_type_cd = comm_type_cd) as comm_type_nm,
			comm_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_STAT' AND conf_type_cd = comm_stat_cd) as comm_stat_nm,
			comm_reg_cont,
			comm_intro,
			reg_date
		FROM dec_community
		WHERE comm_stat_cd <> 'I'
	]]>
	</select>
	
	<select id="selectConfirmCommunityList" resultType="community">
	<![CDATA[
		SELECT comm_idx,
			comm_name,
			manager_idx,
			manager_name,
			comm_type_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_TYPE' AND conf_type_cd = comm_type_cd) as comm_type_nm,
			comm_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_STAT' AND conf_type_cd = comm_stat_cd) as comm_stat_nm,
			comm_reg_cont,
			comm_intro,
			reg_date
		FROM dec_community
		WHERE comm_stat_cd = 'I'
	]]>
	</select>
	
	<update id="updateCommunityApprovalAsStatus" parameterType="community">
		<![CDATA[
			UPDATE dec_community
			SET comm_stat_cd = ]]>
			<if test='status == "settle"'><![CDATA['A']]></if>
			<if test='status == "reject"'><![CDATA['D']]></if>
		<![CDATA[
			WHERE comm_idx = #{comm_idx}
		]]>
	</update>
	
	<insert id="insertCommunityManager" parameterType="java.util.HashMap">
	<![CDATA[
		INSERT INTO dec_community_user(comm_idx, user_idx, comm_role_cd, comm_user_stat_cd, reg_date, login_date)
		VALUES(#{comm_idx}, #{manager_idx}, 9, 'A', NOW(), NULL)
	]]>
	</insert>
	
	<select id="selectCommunityListAsSearchValues" parameterType="java.lang.String" resultType="community">
	<![CDATA[
		SELECT comm_idx,
			comm_name,
			manager_idx,
			manager_name,
			comm_type_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_TYPE' AND conf_type_cd = comm_type_cd) as comm_type_nm,
			comm_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_STAT' AND conf_type_cd = comm_stat_cd) as comm_stat_nm,
			comm_reg_cont,
			comm_intro,
			reg_date
		FROM dec_community c
		WHERE comm_stat_cd = 'A'
		AND comm_name LIKE CONCAT('%', #{value}, '%')
	]]>
	</select>
	
	<select id="selectUserCommunityListAsSearchValues" parameterType="java.lang.String" resultType="community">
	<![CDATA[
		SELECT comm_idx,
			comm_name,
			manager_idx,
			manager_name,
			comm_type_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_TYPE' AND conf_type_cd = comm_type_cd) as comm_type_nm,
			comm_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_STAT' AND conf_type_cd = comm_stat_cd) as comm_stat_nm,
			comm_reg_cont,
			comm_intro,
			reg_date
		FROM dec_community c
		WHERE comm_stat_cd = 'A'
		AND comm_name LIKE CONCAT('%', #{value}, '%')
	]]>
	</select>
	
	<select id="selectCountCommunityUser" parameterType="community" resultType="_int">
	<![CDATA[
		SELECT count(*)
		FROM dec_community c, dec_community_user cu
		WHERE c.comm_idx = cu.comm_idx
		AND c.comm_idx = #{comm_idx}
	]]>
	</select>
	
	<select id="selectCountCommunityBoard" parameterType="community" resultType="_int">
	<![CDATA[
		SELECT count(*)
		FROM dec_community c, dec_community_board cb
		WHERE c.comm_idx = cb.comm_idx
		AND c.comm_idx = #{comm_idx}
	]]>
	</select>
	
	<select id="selectCommunityUserStatusAsIdx" parameterType="java.util.HashMap" resultType="java.lang.String">
	<![CDATA[
		SELECT comm_user_stat_cd
		FROM dec_community c, dec_community_user cu
		WHERE c.comm_idx = cu.comm_idx
		AND c.comm_idx = #{comm_idx}
		AND cu.user_idx = #{user_idx}
	]]>
	</select>
	
	<insert id="insertCommunityUser" parameterType="communityUser">
	<![CDATA[
		INSERT INTO dec_community_user(comm_idx, user_idx, comm_user_stat_cd, reg_date)
		VALUES(#{comm_idx}, #{user_idx}, #{comm_user_stat_cd}, NOW())
	]]>
	</insert>
	
	<select id="selectCommunityDetailView" parameterType="_int" resultType="community">
	<![CDATA[
		SELECT comm_idx,
			comm_name,
			manager_idx,
			manager_name,
			comm_type_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_TYPE' AND conf_type_cd = comm_type_cd) as comm_type_nm,
			comm_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_STAT' AND conf_type_cd = comm_stat_cd) as comm_stat_nm,
			comm_reg_cont,
			comm_intro,
			reg_date
		FROM dec_community
		WHERE comm_idx = #{comm_idx}
	]]>
	</select>



</mapper>