<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="community">

	<select id="selectUserCommunityList" parameterType="user" resultType="community">
	<![CDATA[
		SELECT dc.comm_idx,
			dc.comm_name,
			dc.manager_name,
			dc.comm_type_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_TYPE' AND conf_type_cd = dc.comm_type_cd) as comm_type_nm,
			dcu.comm_role_cd,
			dc.comm_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_STAT' AND conf_type_cd = dc.comm_stat_cd) as comm_stat_nm,
			dc.reg_date,
			dc.comm_intro
		FROM dec_community dc, dec_community_user dcu
		WHERE dc.comm_idx = dcu.comm_idx
		AND dcu.comm_role_cd IN (7, 9)
		AND dcu.comm_user_stat_cd <> 'R'
		AND dcu.user_idx = #{user_idx}
	]]>
	</select>
	
	<select id="selectCommunityNameDupleCheck" parameterType="java.lang.String" resultType="java.lang.String">
	<![CDATA[
		SELECT comm_name
		FROM dec_community
		WHERE comm_name = #{value}
	]]>
	</select>
	
	<insert id="insertCommunity" parameterType="community">
	<![CDATA[
		INSERT INTO dec_community(comm_name, manager_idx, manager_name, comm_type_cd, comm_stat_cd, comm_reg_cont, comm_intro, reg_date)
		VALUES(#{comm_name}, #{manager_idx}, #{manager_name}, #{comm_type_cd}, #{comm_stat_cd}, #{comm_reg_cont}, #{comm_intro}, NOW())
	]]>
	</insert>
	
	<select id="selectCommunityStatus" parameterType="java.lang.String" resultType="_int">
	<![CDATA[
		SELECT COUNT(*) as count
		FROM dec_community
		WHERE comm_type_cd = #{value}
	]]>
	</select>
	
	<select id="selectAllCommunityList" resultType="community">
	<![CDATA[
		SELECT comm_idx,
			comm_name,
			manager_idx,
			manager_name,
			comm_type_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_TYPE' AND conf_type_cd = comm_type_cd) as comm_type_nm,
			comm_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_STAT' AND conf_type_cd = comm_stat_cd) as comm_stat_nm,
			comm_reg_cont,
			comm_intro,
			reg_date
		FROM dec_community
		WHERE comm_stat_cd <> 'I'
	]]>
	</select>
	
	<select id="selectConfirmCommunityList" resultType="community">
	<![CDATA[
		SELECT comm_idx,
			comm_name,
			manager_idx,
			manager_name,
			comm_type_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_TYPE' AND conf_type_cd = comm_type_cd) as comm_type_nm,
			comm_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_STAT' AND conf_type_cd = comm_stat_cd) as comm_stat_nm,
			comm_reg_cont,
			comm_intro,
			reg_date
		FROM dec_community
		WHERE comm_stat_cd = 'I'
	]]>
	</select>
	
	<update id="updateCommunityApprovalAsStatus" parameterType="community">
		<![CDATA[
			UPDATE dec_community
			SET comm_stat_cd = ]]>
			<if test='status == "settle"'><![CDATA['A']]></if>
			<if test='status == "reject"'><![CDATA['D']]></if>
		<![CDATA[
			WHERE comm_idx = #{comm_idx}
		]]>
	</update>
	
	<insert id="insertCommunityManager" parameterType="java.util.HashMap">
	<![CDATA[
		INSERT INTO dec_community_user(comm_idx, user_idx, comm_role_cd, comm_user_stat_cd, reg_date, login_date)
		VALUES(#{comm_idx}, #{manager_idx}, 9, 'A', NOW(), NULL)
	]]>
	</insert>
	
	<select id="selectCommunityListAsSearchValues" parameterType="java.lang.String" resultType="community">
	<![CDATA[
		SELECT comm_idx,
			comm_name,
			manager_idx,
			manager_name,
			comm_type_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_TYPE' AND conf_type_cd = comm_type_cd) as comm_type_nm,
			comm_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_STAT' AND conf_type_cd = comm_stat_cd) as comm_stat_nm,
			comm_reg_cont,
			comm_intro,
			reg_date
		FROM dec_community c
		WHERE comm_stat_cd = 'A'
		AND comm_name LIKE CONCAT('%', #{value}, '%')
	]]>
	</select>
	
	<select id="selectUserCommunityListAsSearchValues" parameterType="java.lang.String" resultType="community">
	<![CDATA[
		SELECT comm_idx,
			comm_name,
			manager_idx,
			manager_name,
			comm_type_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_TYPE' AND conf_type_cd = comm_type_cd) as comm_type_nm,
			comm_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_STAT' AND conf_type_cd = comm_stat_cd) as comm_stat_nm,
			comm_reg_cont,
			comm_intro,
			reg_date
		FROM dec_community c
		WHERE comm_stat_cd = 'A'
		AND comm_name LIKE CONCAT('%', #{value}, '%')
	]]>
	</select>
	
	<select id="selectCountCommunityUser" parameterType="community" resultType="_int">
	<![CDATA[
		SELECT count(*)
		FROM dec_community c, dec_community_user cu
		WHERE c.comm_idx = cu.comm_idx
		AND c.comm_idx = #{comm_idx}
		AND cu.comm_user_stat_cd = 'A'
		AND cu.comm_role_cd = 7
	]]>
	</select>
	
	<select id="selectCountCommunityRequestUser" parameterType="community" resultType="_int">
	<![CDATA[
		SELECT count(*)
		FROM dec_community_user
		WHERE comm_idx = #{comm_idx}
		AND comm_user_stat_cd = 'R'
	]]>
	</select>
	
	<select id="selectCountCommunityBoard" parameterType="community" resultType="_int">
	<![CDATA[
		SELECT count(*)
		FROM dec_community c, dec_community_board cb
		WHERE c.comm_idx = cb.comm_idx
		AND c.comm_idx = #{comm_idx}
		AND cb.board_stat_cd IN ('A')
	]]>
	</select>
	
	<select id="selectCountCommunityBlack" parameterType="community" resultType="_int">
	<![CDATA[
		SELECT count(*)
		FROM dec_community c, dec_community_user cu
		WHERE c.comm_idx = cu.comm_idx
		AND cu.comm_user_stat_cd = 'CB'
	]]>
	</select>
	
	<select id="selectCountCommunityBlackBoard" parameterType="community" resultType="_int">
	<![CDATA[
		SELECT count(*)
		FROM dec_community c, dec_community_board cb
		WHERE c.comm_idx = cb.comm_idx
		AND c.comm_idx = #{comm_idx}
		AND cb.board_stat_cd IN ('B', 'CB')
	]]>
	</select>
	
	<select id="selectCommunityUserStatusAsIdx" parameterType="java.util.HashMap" resultType="java.lang.String">
	<![CDATA[
		SELECT comm_user_stat_cd
		FROM dec_community c, dec_community_user cu
		WHERE c.comm_idx = cu.comm_idx
		AND c.comm_idx = #{comm_idx}
		AND cu.user_idx = #{user_idx}
	]]>
	</select>
	
	<insert id="insertCommunityUser" parameterType="communityUser">
	<![CDATA[
		INSERT INTO dec_community_user(comm_idx, user_idx, comm_user_stat_cd, reg_date)
		VALUES(#{comm_idx}, #{user_idx}, #{comm_user_stat_cd}, NOW())
	]]>
	</insert>
	
	<select id="selectCommunityDetailView" parameterType="_int" resultType="community">
	<![CDATA[
		SELECT comm_idx,
			comm_name,
			manager_idx,
			manager_name,
			comm_type_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_TYPE' AND conf_type_cd = comm_type_cd) as comm_type_nm,
			comm_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_STAT' AND conf_type_cd = comm_stat_cd) as comm_stat_nm,
			comm_reg_cont,
			comm_intro,
			reg_date
		FROM dec_community c
		WHERE comm_idx = #{comm_idx}
	]]>
	</select>
	
	<select id="selectCommunityAllMembers" parameterType="community" resultType="user">
	<![CDATA[
		SELECT t.*
		FROM (
			SELECT cu.user_idx,
				(SELECT nick_name FROM dec_user u WHERE cu.user_idx = u.user_idx) as nick_name,
				(SELECT profile_src FROM dec_user u WHERE cu.user_idx = u.user_idx) as profile_src
			FROM dec_community_user cu
			WHERE cu.comm_idx = #{comm_idx}
			AND comm_role_cd = 7
			AND comm_user_stat_cd = 'A'
			AND 'A' = (SELECT user_stat_cd FROM dec_user u WHERE cu.user_idx = u.user_idx)
		) t
	]]>
	</select>
	
	<select id="selectCommunityUsersAsCommIdx" parameterType="_int" resultType="user">
	<![CDATA[
		SELECT comm_idx,
			user_idx,
			(SELECT user_stat_cd FROM dec_user u WHERE u.user_idx = cu.user_idx) as user_stat_cd,
			cu.comm_role_cd as user_comm_role
		FROM dec_community_user cu
		WHERE cu.comm_idx = #{commIdx}
		AND cu.comm_user_stat_cd = 'A'
	]]>
	</select>
	
	<select id="selectCommunitySignRequestUsers" parameterType="community" resultType="user">
	<![CDATA[
		SELECT comm_idx,
			user_idx,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'USER_STAT' AND conf_type_cd = comm_user_stat_cd) as user_comm_stat_nm,
			(SELECT nick_name FROM dec_user u WHERE cu.user_idx = u.user_idx) as nick_name,
			(SELECT profile_src FROM dec_user u WHERE cu.user_idx = u.user_idx) as profile_src,
			cu.comm_role_cd as user_comm_role,
			cu.reg_date as user_comm_req_date
		FROM dec_community_user cu
		WHERE cu.comm_idx = #{comm_idx}
		AND cu.comm_user_stat_cd = 'R'
	]]>
	</select>
	
	<select id="selectCommunityBlackListUser" parameterType="community" resultType="user">
	<![CDATA[
		SELECT cu.comm_idx,
			cu.user_idx,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'USER_STAT' AND conf_type_cd = comm_user_stat_cd) as user_comm_stat_nm,
			(SELECT nick_name FROM dec_user u WHERE cu.user_idx = u.user_idx) as nick_name,
			(SELECT profile_src FROM dec_user u WHERE cu.user_idx = u.user_idx) as profile_src,
			cu.comm_role_cd as user_comm_role,
			cu.reg_date as user_comm_req_date,
			(SELECT start_date FROM dec_comm_blacklist bl WHERE bl.comm_idx = cu.comm_idx AND bl.user_idx = u.user_idx) as black_sdate,
			(SELECT end_date FROM dec_comm_blacklist bl WHERE bl.comm_idx = cu.comm_idx AND bl.user_idx = u.user_idx) as black_edate,
			(SELECT bl_comm_cont FROM dec_comm_blacklist bl WHERE bl.comm_idx = cu.comm_idx AND bl.user_idx = u.user_idx) as black_cont,
			(SELECT bl_comm_scope FROM dec_comm_blacklist bl WHERE bl.comm_idx = cu.comm_idx AND bl.user_idx = u.user_idx) as black_scope
		FROM dec_community_user cu, dec_user u
		WHERE cu.comm_idx = #{comm_idx}
		AND cu.user_idx = u.user_idx
		AND cu.comm_user_stat_cd = 'CB'
	]]>
	</select>
	
	<update id="updateCommunityManagerAsMandate" parameterType="java.util.HashMap">
	<![CDATA[
		UPDATE dec_community_user
		SET comm_role_cd = 9
		WHERE user_idx = #{to_idx}
		AND comm_idx = #{comm_idx}
	]]>
	</update>
	
	<update id="updateCommunityUserAsFromIdx" parameterType="java.util.HashMap">
	<![CDATA[
		UPDATE dec_community_user
		SET comm_role_cd = 7
		WHERE user_idx = #{from_idx}
		AND comm_idx = #{comm_idx}
	]]>
	</update>
	
	<update id="updateCommunityManagerInfoAsMandate" parameterType="java.util.HashMap">
	<![CDATA[
		UPDATE dec_community
		SET manager_idx = #{to_idx}, manager_name = #{to_nick}
		WHERE comm_idx = #{comm_idx}
	]]>
	</update>
	
	<update id="updateCommunityIntro" parameterType="community">
	<![CDATA[
		UPDATE dec_community
		SET comm_intro = #{comm_intro}
		WHERE comm_idx = #{comm_idx}
	]]>
	</update>
	
	<delete id="deleteCommunityRejectUserStatus" parameterType="java.util.HashMap">
	<![CDATA[
		DELETE FROM dec_community_user
		WHERE comm_idx = #{comm_idx}
		AND user_idx = #{user_idx}
		AND comm_user_stat_cd = 'R'
	]]>
	</delete>
	
	<update id="updateCommunityConfirmUserStatus" parameterType="java.util.HashMap">
	<![CDATA[
		UPDATE dec_community_user
		SET comm_user_stat_cd = #{comm_user_stat_cd}
		WHERE comm_idx = #{comm_idx}
		AND user_idx = #{user_idx}
	]]>
	</update>
	
	<delete id="deleteCommunitySignUserCancel" parameterType="java.util.HashMap">
	<![CDATA[
		DELETE FROM dec_community_user
		WHERE comm_idx = #{comm_idx}
		AND user_idx = #{user_idx}
	]]>
	</delete>
	
	<update id="updateUserCommunityLoginDate" parameterType="java.util.HashMap">
	<![CDATA[
		UPDATE dec_community_user
		SET login_date = NOW()
		WHERE comm_idx = #{comm_idx}
		AND user_idx = #{user_idx}
	]]>
	</update>
	
	<insert id="insertCommunityBlackListUser" parameterType="communityBlackList">
		<selectKey keyProperty="bl_idx" order="AFTER" resultType="_int">
			<![CDATA[
				SELECT LAST_INSERT_ID()
			]]>
		</selectKey>
		<![CDATA[
			INSERT INTO dec_comm_blacklist(comm_idx, user_idx, bl_comm_cont, bl_comm_scope, start_date, end_date)
			VALUES(#{comm_idx}, #{user_idx}, #{bl_comm_cont}, #{bl_comm_scope}, NOW(), #{end_date})
		]]>
	</insert>
	
	<select id="selectCommunityBlackListUserForLog" parameterType="communityBlackList" resultType="communityBlackList">
	<![CDATA[
		SELECT bl_idx,
			comm_idx,
			user_idx,
			bl_comm_cont,
			bl_comm_scope,
			start_date,
			end_date
		FROM dec_comm_blacklist
		WHERE bl_idx = #{bl_idx}
	]]>
	</select>
	
	<select id="selectCommunityBlackListUserInfo" parameterType="java.util.HashMap" resultType="communityBlackList">
	<![CDATA[
		SELECT bl_idx,
			comm_idx,
			user_idx,
			bl_comm_cont,
			bl_comm_scope,
			start_date,
			end_date
		FROM dec_comm_blacklist
		WHERE comm_idx = #{cidx}
		AND user_idx = #{uidx}
	]]>
	</select>
	
	<delete id="deleteCommunityUserBlackList" parameterType="communityBlackList">
	<![CDATA[
		DELETE FROM dec_comm_blacklist
		WHERE comm_idx = #{comm_idx}
		AND user_idx = #{user_idx}
	]]>
	</delete>
	
	<update id="updateCommunityBlackListLogRelease" parameterType="communityBlackList">
	<![CDATA[
		UPDATE dec_blacklist_log
		SET release_date = NOW()
		WHERE bl_flag = 'C'
		AND bl_idx = #{bl_idx}
		AND user_idx = #{user_idx}
	]]>
	</update>
	
	<update id="updateCommunityUserBlackListReleaseStatus" parameterType="java.util.HashMap">
	<![CDATA[
		UPDATE dec_community_user
		SET comm_user_stat_cd = 'A'
		WHERE comm_idx = #{cidx}
		AND user_idx = #{uidx}
	]]>
	</update>
	
	<select id="selectCommunityBlackBoardList" parameterType="community" resultType="board">
	<![CDATA[
		SELECT b.*
		FROM (
			SELECT board_idx,
				comm_idx,
				(SELECT comm_name FROM dec_community c WHERE c.comm_idx = b.comm_idx) as comm_name,
				board_uidx,
				board_scope,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_SCOP' AND conf_type_cd = board_scope) as board_scope_nm,
				board_title,
				board_content,
				reg_date,
				modify_date,
				board_stat_cd,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_STAT' AND conf_type_cd = board_stat_cd) as board_stat_nm,
				(SELECT login_id FROM dec_user u WHERE u.user_idx = board_uidx) as writer_id,
				(SELECT nick_name FROM dec_user u WHERE u.user_idx = board_uidx) as writer_nick,
				(SELECT count(*) FROM dec_community_board_reply r WHERE r.board_idx = b.board_idx) as reply_total
			FROM dec_community_board b
			WHERE b.comm_idx = #{comm_idx}
			AND b.board_stat_cd IN ('B', 'CB')
		) b
		ORDER BY reg_date DESC
	]]>
	</select>
	
	<select id="selectCommunityActiveBoardList" parameterType="community" resultType="board">
	<![CDATA[
		SELECT b.*
		FROM (
			SELECT board_idx,
				comm_idx,
				(SELECT comm_name FROM dec_community c WHERE c.comm_idx = b.comm_idx) as comm_name,
				board_uidx,
				board_scope,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_SCOP' AND conf_type_cd = board_scope) as board_scope_nm,
				board_title,
				board_content,
				reg_date,
				modify_date,
				board_stat_cd,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_STAT' AND conf_type_cd = board_stat_cd) as board_stat_nm,
				(SELECT login_id FROM dec_user u WHERE u.user_idx = board_uidx) as writer_id,
				(SELECT nick_name FROM dec_user u WHERE u.user_idx = board_uidx) as writer_nick,
				(SELECT count(*) FROM dec_community_board_reply r WHERE r.board_idx = b.board_idx) as reply_total
			FROM dec_community_board b
			WHERE b.comm_idx = #{comm_idx}
			AND b.board_stat_cd IN ('A')
		) b
		ORDER BY reg_date DESC
	]]>
	</select>



</mapper>