<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="community">

	<select id="selectUserCommunityList" parameterType="user" resultType="community">
	<![CDATA[
		SELECT dc.comm_idx,
			dc.comm_name,
			dc.comm_type_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_TYPE' AND conf_type_cd = dc.comm_type_cd) as comm_type_nm,
			dcu.comm_role_cd,
			dc.comm_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'COMM_STAT' AND conf_type_cd = dc.comm_stat_cd) as comm_stat_nm,
			dc.reg_date
		FROM dec_community dc, dec_community_user dcu
		WHERE dc.comm_idx = dcu.comm_idx
		AND dcu.comm_role_cd IN (7, 9)
		AND dcu.comm_user_stat_cd = 'A'
		AND dcu.user_idx = #{user_idx}
	]]>
	</select>
	
	<select id="selectCommunityNameDupleCheck" parameterType="java.lang.String" resultType="java.lang.String">
	<![CDATA[
		SELECT comm_name
		FROM dec_community
		WHERE comm_name = #{value}
	]]>
	</select>



</mapper>