<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
	
	<select id="selectUserInfoAsLogin" parameterType="user" resultType="user">
	<![CDATA[
		SELECT user_idx,
			user_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE CONF_TYPE = 'USER_STAT' AND user_stat_cd = conf_type_cd) as user_stat_nm,
			user_name,
			login_id,
			nick_name,
			password,
			user_role_cd,
			reg_date,
			login_date,
			pwd_date,
			access_ip,
			tryed,
			profile_src
		FROM dec_user
		WHERE login_id = #{login_id}
	]]>
	</select>
	
	<select id="selectUserInfoAsIdx" parameterType="_int" resultType="user">
	<![CDATA[
		SELECT user_idx,
			user_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE CONF_TYPE = 'USER_STAT' AND user_stat_cd = conf_type_cd) as user_stat_nm,
			user_name,
			login_id,
			nick_name,
			password,
			user_role_cd,
			reg_date,
			login_date,
			pwd_date,
			access_ip,
			tryed,
			profile_src
		FROM dec_user
		WHERE user_idx = #{user_idx}
	]]>
	</select>
	
	<update id="updateUserInfo" parameterType="user">
	<![CDATA[
		UPDATE dec_user
		SET password = #{password}
		WHERE user_idx = #{user_idx}
	]]>
	</update>
	
	<insert id="insertUser" parameterType="user">
	<![CDATA[
		INSERT INTO dec_user(user_stat_cd, user_name, login_id, nick_name, password, user_role_cd, reg_date, profile_src)
		VALUES(#{user_stat_cd}, #{user_name}, #{login_id}, #{nick_name}, #{password}, #{user_role_cd}, NOW(), ]]>
		<if test='profile_src == ""'><![CDATA[NULL]]></if>
		<if test='profile_src != ""'><![CDATA[#{profile_src}]]></if><![CDATA[
		)
	]]>
	</insert>
	
	<update id="updateUserLogin" parameterType="user">
	<![CDATA[
		UPDATE dec_user
		SET access_ip = #{access_ip}, login_date = NOW(), tryed = #{tryed}
		WHERE user_idx = #{user_idx}
	]]>
	</update>
	
	<update id="updateUserLoginTry" parameterType="user">
	<![CDATA[
		UPDATE dec_user
		SET tryed = #{tryed}
		WHERE user_idx = #{user_idx}
	]]>
	</update>
	
	<update id="updateUserProfile" parameterType="user">
	<![CDATA[
		UPDATE dec_user
		SET user_name = #{user_name}, nick_name = #{nick_name}, password = #{password}, profile_src = #{profile_src}
		WHERE user_idx = #{user_idx}
	]]>
	</update>
	
	<select id="getUserProfileSrc" parameterType="_int" resultType="java.lang.String">
	<![CDATA[
		SELECT profile_src
		FROM dec_user
		WHERE user_idx = #{user_idx}
	]]>
	</select>
	
	<select id="getUserPassword" parameterType="_int" resultType="java.lang.String">
	<![CDATA[
		SELECT password
		FROM dec_user
		WHERE user_idx = #{user_idx}
	]]>
	</select>
	
	<select id="selectAdminEmail" resultType="java.lang.String">
	<![CDATA[
		SELECT GROUP_CONCAT(login_id)
		FROM dec_user
		WHERE user_role_cd = 99
	]]>
	</select>
	
	<select id="userNickDupleCheck" parameterType="java.lang.String" resultType="java.lang.String">
	<![CDATA[
		SELECT nick_name
		FROM dec_user
		WHERE nick_name = #{nickName}
	]]>
	</select>
	
	<select id="getLoginIdAsIdx" parameterType="_int" resultType="java.lang.String">
	<![CDATA[
		SELECT login_id
		FROM dec_user
		WHERE user_idx = #{manager_idx}
	]]>
	</select>
	
	<select id="selectBlackListUser" resultType="user">
	<![CDATA[
		SELECT u.user_idx,
			u.user_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'USER_STAT' AND conf_type_cd = user_stat_cd) as user_stat_nm,
			u.login_id,
			u.nick_name,
			u.user_role_cd,
			u.reg_date,
			u.login_date,
			u.access_ip,
			u.profile_src,
			b.start_date as black_sdate,
			b.end_date as black_edate
		FROM dec_blacklist b, dec_user u
		WHERE b.user_idx = u.user_idx
	]]>
	</select>
	
	<select id="selectAllUserList" resultType="user">
	<![CDATA[
		SELECT user_idx,
			user_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'USER_STAT' AND conf_type_cd = user_stat_cd) as user_stat_nm,
			login_id,
			nick_name,
			user_role_cd,
			reg_date,
			login_date,
			access_ip,
			profile_src,
			profile_src
		FROM dec_user
		WHERE user_role_cd <> 99
	]]>
	</select>
	
	<select id="selectConfAsBlackListScope" resultType="conf">
	<![CDATA[
		SELECT conf_type,
			conf_type_cd,
			conf_name,
			conf_etc
		FROM dec_conf
		WHERE conf_type = 'BLACK_SCOP'
		AND conf_type_cd <> '0000000000000000'
		ORDER BY conf_type_cd ASC
	]]>
	</select>
	
	
	
	
	
	
</mapper>
