<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

	<select id="selectAllCommunityBoardList" parameterType="_long" resultType="board">
	<![CDATA[
		SELECT board_idx,
			comm_idx,
			board_uidx,
			board_scope,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_SCOP' AND conf_type_cd = board_scope) as board_scope_nm,
			board_title,
			board_content,
			reg_date,
			modify_date,
			board_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_STAT' AND conf_type_cd = board_stat_cd) as board_stat_nm,
			(SELECT login_id FROM dec_user u WHERE u.user_idx = board_uidx) as writer_id,
			(SELECT nick_name FROM dec_user u WHERE u.user_idx = board_uidx) as writer_nick
		FROM dec_community_board
		WHERE comm_idx = #{comm_idx}
		AND board_stat_cd = 'A'
		ORDER BY reg_date DESC
	]]>
	</select>
	
	<select id="selectVisitorMainBoardList" parameterType="board" resultType="board">
	<![CDATA[
		SELECT board_idx,
			comm_idx,
			(SELECT comm_name FROM dec_community c WHERE c.comm_idx = b.comm_idx) as comm_name,
			board_uidx,
			board_scope,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_SCOP' AND conf_type_cd = board_scope) as board_scope_nm,
			board_title,
			board_content,
			reg_date,
			modify_date,
			board_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_STAT' AND conf_type_cd = board_stat_cd) as board_stat_nm,
			(SELECT login_id FROM dec_user u WHERE u.user_idx = board_uidx) as writer_id,
			(SELECT nick_name FROM dec_user u WHERE u.user_idx = board_uidx) as writer_nick
		FROM dec_community_board b
		WHERE board_scope = #{board_scope}
		AND board_stat_cd = 'A'
		ORDER BY reg_date DESC
	]]>
	</select>
	
	<insert id="insertCommunityBoard" parameterType="board">
		<selectKey keyProperty="board_idx" resultType="_int" order="AFTER">
			<![CDATA[
				SELECT LAST_INSERT_ID()
			]]>
		</selectKey>
		<![CDATA[
			INSERT INTO dec_community_board(comm_idx, board_uidx, board_scope, board_title, board_content, reg_date, modify_date, board_stat_cd)
			VALUES(#{comm_idx}, #{board_uidx}, #{board_scope}, #{board_title}, #{board_content}, NOW(), NULL, 'A')
		]]>
	</insert>
	
	<select id="selectCommunityBoardInfo" parameterType="board" resultType="board">
	<![CDATA[
		SELECT board_idx,
			comm_idx,
			board_uidx,
			board_scope,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_SCOP' AND conf_type_cd = board_scope) as board_scope_nm,
			board_title,
			board_content,
			reg_date,
			modify_date,
			board_stat_cd
		FROM dec_community_board
		WHERE board_idx = #{board_idx}
	]]>
	</select>
	
	<insert id="insertCommunityBoardFile" parameterType="boardFile">
	<![CDATA[
		INSERT INTO dec_community_board_file(board_idx, org_file_name, real_file_path)
		VALUES(#{board_idx}, #{org_file_name}, #{real_file_path})
	]]>
	</insert>
	
	<select id="selectUserMainBoardList" parameterType="user" resultType="board">
	<![CDATA[
		SELECT *
		FROM (
			SELECT board_idx,
				comm_idx,
				(SELECT comm_name FROM dec_community c WHERE c.comm_idx = b.comm_idx) as comm_name,
				board_uidx,
				board_scope,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_SCOP' AND conf_type_cd = board_scope) as board_scope_nm,
				board_title,
				board_content,
				reg_date,
				modify_date,
				board_stat_cd,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_STAT' AND conf_type_cd = board_stat_cd) as board_stat_nm,
				(SELECT login_id FROM dec_user u WHERE u.user_idx = board_uidx) as writer_id,
				(SELECT nick_name FROM dec_user u WHERE u.user_idx = board_uidx) as writer_nick
			FROM dec_community_board b
			WHERE board_scope = 'A'
			AND board_stat_cd = 'A'
			
			UNION
			
			SELECT board_idx,
				comm_idx,
				(SELECT comm_name FROM dec_community c WHERE c.comm_idx = b.comm_idx) as comm_name,
				board_uidx,
				board_scope,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_SCOP' AND conf_type_cd = board_scope) as board_scope_nm,
				board_title,
				board_content,
				reg_date,
				modify_date,
				board_stat_cd,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_STAT' AND conf_type_cd = board_stat_cd) as board_stat_nm,
				(SELECT login_id FROM dec_user u WHERE u.user_idx = board_uidx) as writer_id,
				(SELECT nick_name FROM dec_user u WHERE u.user_idx = board_uidx) as writer_nick
			FROM dec_community_board b
			WHERE board_scope = 'C'
			AND board_uidx = #{user_idx}
			AND board_stat_cd = 'A'
			AND comm_idx IN (SELECT comm_idx FROM dec_community_user cu WHERE board_uidx = cu.user_idx)
		) t
		ORDER BY reg_date DESC
	]]>
	</select>
	
	<select id="selectOneBoardInfoAsIdx" parameterType="_int" resultType="board">
	<![CDATA[
		SELECT board_idx,
			comm_idx,
			board_uidx,
			board_scope,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_SCOP' AND conf_type_cd = board_scope) as board_scope_nm,
			board_title,
			board_content,
			reg_date,
			modify_date,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_STAT' AND conf_type_cd = board_stat_cd) as board_stat_nm,
			(SELECT login_id FROM dec_user u WHERE u.user_idx = board_uidx) as writer_id,
			(SELECT nick_name FROM dec_user u WHERE u.user_idx = board_uidx) as writer_nick,
			(SELECT GROUP_CONCAT(org_file_name) FROM dec_community_board_file bf WHERE cb.board_idx = bf.board_idx) as real_file_name,
			(SELECT GROUP_CONCAT(real_file_path) FROM dec_community_board_file bf WHERE cb.board_idx = bf.board_idx) as res_path
		FROM dec_community_board cb
		WHERE board_idx = #{value}
	]]>
	</select>
	
	<update id="updateBoardStatusAsFlag" parameterType="board">
	<![CDATA[
		UPDATE dec_community_board
		SET board_stat_cd = #{board_stat_cd}
		WHERE board_idx = #{board_idx}
	]]>
	</update>
	
	<update id="updateBoardAsIdx" parameterType="board">
	<![CDATA[
		UPDATE dec_community_board
		SET board_scope = #{board_scope}, board_title = #{board_title}, board_content = #{board_content},
			modify_date = NOW()
		WHERE board_idx = #{board_idx}
	]]>
	</update>
	
	<select id="selectCommunityBoardFileListAsUpdated" parameterType="boardFile" resultType="boardFile">
	<![CDATA[
		SELECT file_idx,
			board_idx,
			org_file_name,
			real_file_path
		FROM dec_community_board_file
		WHERE board_idx = #{board_idx}
	]]>
	</select>
	
	<select id="selectCommunityBoardFileListAsIdx" parameterType="board" resultType="boardFile">
	<![CDATA[
		SELECT file_idx,
			board_idx,
			org_file_name,
			real_file_path
		FROM dec_community_board_file
		WHERE board_idx = #{board_idx}
	]]>
	</select>
	
	<insert id="insertCommunityBoardFileLog" parameterType="boardFile">
	<![CDATA[
		INSERT INTO dec_community_board_file_log(file_idx, board_idx, org_file_name, real_file_path)
		VALUES(#{file_idx}, #{board_idx}, #{org_file_name}, #{real_file_path})
	]]>
	</insert>
	
	<delete id="deleteCommunityBoardFileAsIdx" parameterType="board">
	<![CDATA[
		DELETE FROM dec_community_board_file
		WHERE board_idx = #{board_idx}
	]]>
	</delete>
	
	<insert id="insertCommunityBoardReply" parameterType="reply">
	<![CDATA[
		INSERT INTO dec_community_board_reply(board_idx, reply_uidx, reply_content, reg_date, modify_date, reply_stat_cd)
		VALUES(#{board_idx}, #{reply_uidx}, #{reply_content}, NOW(), NULL, 'A')
	]]>
	</insert>
	
	<select id="selectBoardReplyListAsBidx" parameterType="_long" resultType="reply">
	<![CDATA[
		SELECT reply_idx,
			board_idx,
			reply_uidx,
			(SELECT nick_name FROM dec_user WHERE user_idx = reply_uidx) as reply_nick,
			(SELECT profile_src FROM dec_user WHERE user_idx = reply_uidx) as reply_res_path,
			reply_content,
			reg_date,
			modify_date,
			reply_stat_cd,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_STAT' AND reply_stat_cd = conf_type_cd) as reply_stat_nm
		FROM dec_community_board_reply
		WHERE board_idx = #{board_idx}
		AND reply_stat_cd = 'A'
		ORDER BY reg_date DESC
	]]>
	</select>
	
	<update id="updateCommunityBoardReplyContent" parameterType="reply">
	<![CDATA[
		UPDATE dec_community_board_reply
		SET reply_content = #{reply_content}, modify_date = NOW()
		WHERE reply_idx = #{reply_idx}
	]]>
	</update>
	
	<update id="deleteCommunityBoardReply" parameterType="reply">
	<![CDATA[
		UPDATE dec_community_board_reply
		SET reply_stat_cd = 'I'
		WHERE reply_idx = #{reply_idx}
	]]>
	</update>
	
	<select id="selectBoardListAsSearchValues" parameterType="java.lang.String" resultType="board">
	<![CDATA[
		SELECT b.board_idx,
			b.comm_idx,
			b.board_uidx,
			b.board_scope,
			b.board_title,
			b.board_content,
			b.board_stat_cd,
			b.board_stat_nm,
			b.writer_id,
			b.writer_nick,
			b.reg_date,
			b.modify_date
		FROM (
			SELECT board_idx,
				comm_idx,
				board_uidx,
				board_scope,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_SCOP' AND conf_type_cd = board_scope) as board_scope_nm,
				board_title,
				board_content,
				board_stat_cd,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_STAT' AND conf_type_cd = board_stat_cd) as board_stat_nm,
				(SELECT login_id FROM dec_user u WHERE u.user_idx = board_uidx) as writer_id,
				(SELECT nick_name FROM dec_user u WHERE u.user_idx = board_uidx) as writer_nick,
				reg_date,
				modify_date
			FROM dec_community_board ) b
		WHERE b.board_scope = 'A'
		AND b.board_stat_cd = 'A'
	]]>
	<if test='condition.equals("board_title") and condition != null and condition != ""'>
		<![CDATA[AND b.board_title LIKE CONCAT('%', #{value}, '%')]]>
	</if>
	<if test='condition.equals("board_content") and condition != null and condition != ""'>
		<![CDATA[AND b.board_content LIKE CONCAT('%', #{value}, '%')]]>
	</if>
	<if test='condition.equals("board_writer") and condition != null and condition != ""'>
		<![CDATA[AND b.writer_nick LIKE CONCAT('%', #{value}, '%')]]>
	</if>
	<![CDATA[ORDER BY reg_date DESC]]>
	</select>
	
	<select id="selectUserBoardListAsSearchValues" parameterType="java.util.HashMap" resultType="board">
	<![CDATA[
		SELECT b.board_idx,
			b.comm_idx,
			b.comm_name,
			b.board_uidx,
			b.board_scope,
			b.board_title,
			b.board_content,
			b.board_stat_cd,
			b.board_stat_nm,
			b.writer_id,
			b.writer_nick,
			b.reg_date,
			b.modify_date
		FROM (
			SELECT board_idx,
				comm_idx,
				(SELECT comm_name FROM dec_community c WHERE c.comm_idx = bd.comm_idx) as comm_name,
				board_uidx,
				board_scope,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_SCOP' AND conf_type_cd = board_scope) as board_scope_nm,
				board_title,
				board_content,
				board_stat_cd,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_STAT' AND conf_type_cd = board_stat_cd) as board_stat_nm,
				(SELECT login_id FROM dec_user u WHERE u.user_idx = board_uidx) as writer_id,
				(SELECT nick_name FROM dec_user u WHERE u.user_idx = board_uidx) as writer_nick,
				reg_date,
				modify_date
			FROM dec_community_board bd) b
		WHERE b.board_scope IN ('A', 'C')
		AND b.comm_idx IN (SELECT comm_idx FROM dec_community_user cu WHERE b.board_uidx = cu.user_idx)
		AND b.board_stat_cd = 'A'
	]]>
	<if test='condition.equals("board_title") and condition != null and condition != ""'>
		<![CDATA[AND b.board_title LIKE CONCAT('%', #{value}, '%')]]>
	</if>
	<if test='condition.equals("board_content") and condition != null and condition != ""'>
		<![CDATA[AND b.board_content LIKE CONCAT('%', #{value}, '%')]]>
	</if>
	<if test='condition.equals("board_writer") and condition != null and condition != ""'>
		<![CDATA[AND b.writer_nick LIKE CONCAT('%', #{value}, '%')]]>
	</if>
	<![CDATA[ORDER BY reg_date DESC]]>
	</select>
	
	<select id="selectCommunityBoardListAsSearchValue" parameterType="java.util.HashMap" resultType="board">
	<![CDATA[
		SELECT b.*
		FROM (
			SELECT board_idx,
				comm_idx,
				board_uidx,
				board_scope,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_SCOP' AND conf_type_cd = board_scope) as board_scope_nm,
				board_title,
				board_content,
				board_stat_cd,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_STAT' AND conf_type_cd = board_stat_cd) as board_stat_nm,
				(SELECT login_id FROM dec_user u WHERE u.user_idx = board_uidx) as writer_id,
				(SELECT nick_name FROM dec_user u WHERE u.user_idx = board_uidx) as writer_nick,
				reg_date,
				modify_date
			FROM dec_community_board
			WHERE comm_idx = #{cidx}
			AND board_stat_cd = 'A'
		) b
		WHERE 1 = 1
	]]>
	<if test='condition.equals("inCommunity_title") and condition != null and condition != ""'>
		<![CDATA[AND board_title LIKE CONCAT('%', #{value}, '%')]]>
	</if>
	<if test='condition.equals("inCommunity_content") and condition != null and condition != ""'>
		<![CDATA[AND board_content LIKE CONCAT('%', #{value}, '%')]]>
	</if>
	<if test='condition.equals("inCommunity_writer") and condition != null and condition != ""'>
		<![CDATA[AND writer_nick LIKE CONCAT('%', #{value}, '%')]]>
	</if>
	</select>
	
	<select id="selectAdminBoardManageAsBlockList" resultType="board">
	<![CDATA[
		SELECT t.*
		FROM (
			SELECT board_idx,
				comm_idx,
				(SELECT comm_name FROM dec_community c WHERE c.comm_idx = b.comm_idx) as comm_name,
				board_uidx,
				board_scope,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_SCOP' AND conf_type_cd = board_scope) as board_scope_nm,
				board_title,
				board_content,
				board_stat_cd,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_STAT' AND conf_type_cd = board_stat_cd) as board_stat_nm,
				(SELECT login_id FROM dec_user u WHERE u.user_idx = b.board_uidx) as writer_id,
				(SELECT nick_name FROM dec_user u WHERE u.user_idx = b.board_uidx) as writer_nick,
				reg_date,
				modify_date,
				(SELECT count(*) FROM dec_community_board_reply r WHERE b.board_idx = r.board_idx) as reply_total
			FROM dec_community_board b
			WHERE b.board_stat_cd IN ('B', 'CB')
		) t
	]]>
	</select>
	
	<select id="selectAdminBoardManageAsActiveList" resultType="board">
	<![CDATA[
		SELECT t.*
		FROM (
			SELECT board_idx,
				comm_idx,
				(SELECT comm_name FROM dec_community c WHERE c.comm_idx = b.comm_idx) as comm_name,
				board_uidx,
				board_scope,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_SCOP' AND conf_type_cd = board_scope) as board_scope_nm,
				board_title,
				board_content,
				board_stat_cd,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'BOARD_STAT' AND conf_type_cd = board_stat_cd) as board_stat_nm,
				(SELECT login_id FROM dec_user u WHERE u.user_idx = b.board_uidx) as writer_id,
				(SELECT nick_name FROM dec_user u WHERE u.user_idx = b.board_uidx) as writer_nick,
				reg_date,
				modify_date,
				(SELECT count(*) FROM dec_community_board_reply r WHERE b.board_idx = r.board_idx) as reply_total
			FROM dec_community_board b
			WHERE b.board_stat_cd = 'A'
		) t
	]]>
	</select>
	
	<update id="adminUpdateBlockBoardToReleaseAsIdx" parameterType="board">
	<![CDATA[
		UPDATE dec_community_board
		SET board_stat_cd = 'A'
		WHERE board_idx = #{board_idx}
	]]>
	</update>
	
	<update id="adminUpdateActiveBoardToBlockAsIdx" parameterType="board">
	<![CDATA[
		UPDATE dec_community_board
		SET board_stat_cd = 'B'
		WHERE board_idx = #{board_idx}
	]]>
	</update>
	
	<update id="adminDeleteCommunityBoardAsIdx" parameterType="board">
	<![CDATA[
		UPDATE dec_community_board
		SET board_stat_cd = 'I'
		WHERE board_idx = #{board_idx}
	]]>
	</update>
	
	<update id="updateCommunityBoardToFlagAsCommunityManager" parameterType="java.util.HashMap">
	<![CDATA[
		UPDATE dec_community_board
	]]>
	<if test='flag.equals("black") and flag != null'>
		<![CDATA[ SET board_stat_cd = 'CB' ]]>
	</if>
	<if test='flag.equals("delete") and flag != null'>
		<![CDATA[ SET board_stat_cd = 'I' ]]>
	</if>
	<![CDATA[
		WHERE board_idx = #{bidx}
	]]>
	</update>
	
	<update id="updateCommunityBlackBoardToActiveAsCommunityManager" parameterType="_int">
	<![CDATA[
		UPDATE dec_community_board
		SET board_stat_cd = 'A'
		WHERE board_idx = #{bidx}
	]]>
	</update>
	
	<insert id="insertCommunityInquiryToAdmin" parameterType="inquiry">
		<selectKey keyProperty="inquiry_idx" resultType="_int" order="AFTER">
			<![CDATA[
				SELECT LAST_INSERT_ID()
			]]>
		</selectKey>
		<![CDATA[
			INSERT INTO dec_inquiry(reg_uidx, inquiry_title, inquiry_content, inquiry_answer, inquiry_stat, reg_date, answer_date)
			VALUES(#{reg_uidx}, #{inquiry_title}, #{inquiry_content}, NULL, 'R', NOW(), NULL)
		]]>
	</insert>
	
	<select id="selectCommunityInquiryinfo" parameterType="inquiry" resultType="inquiry">
	<![CDATA[
		SELECT inquiry_idx,
			reg_uidx,
			inquiry_title,
			inquiry_content,
			inquiry_answer,
			inquiry_stat,
			reg_date,
			answer_date
		FROM dec_inquiry
		WHERE inquiry_idx = #{inquiry_idx}
	]]>
	</select>
	
	<insert id="insertCommunityInquiryFile" parameterType="inquiryFile">
	<![CDATA[
		INSERT INTO dec_inquiry_file(inquiry_idx, org_file_name, real_file_path)
		VALUES(#{inquiry_idx}, #{org_file_name}, #{real_file_path})
	]]>
	</insert>
	
	<select id="selectUserInquiryList" parameterType="user" resultType="inquiry">
	<![CDATA[
		SELECT i.*
		FROM (
			SELECT inquiry_idx,
				reg_uidx,
				(SELECT nick_name FROM dec_user WHERE user_idx = reg_uidx) as reg_nick,
				inquiry_title,
				inquiry_content,
				inquiry_answer,
				inquiry_stat,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'INQUIRY_STAT' AND conf_type_cd = inquiry_stat) as inquiry_stat_nm,
				reg_date,
				answer_date
			FROM dec_inquiry
			WHERE reg_uidx = #{user_idx}
		) i
		ORDER BY reg_date DESC
	]]>
	</select>
	
	<select id="selectAdminBoardInquiryManageList" resultType="inquiry">
	<![CDATA[
		SELECT i.*
		FROM (
			SELECT inquiry_idx,
				reg_uidx,
				(SELECT nick_name FROM dec_user WHERE user_idx = reg_uidx) as reg_nick,
				inquiry_title,
				inquiry_content,
				inquiry_answer,
				inquiry_stat,
				(SELECT conf_name FROM dec_conf WHERE conf_type = 'INQUIRY_STAT' AND conf_type_cd = inquiry_stat) as inquiry_stat_nm,
				reg_date,
				answer_date
			FROM dec_inquiry
		) i
		ORDER BY reg_date DESC
	]]>
	</select>
	
	<select id="selectAdminBoardInquiryInfo" parameterType="_int" resultType="inquiry">
	<![CDATA[
		SELECT inquiry_idx,
			reg_uidx,
			(SELECT nick_name FROM dec_user WHERE user_idx = reg_uidx) as reg_nick,
			inquiry_title,
			inquiry_content,
			inquiry_answer,
			inquiry_stat,
			(SELECT conf_name FROM dec_conf WHERE conf_type = 'INQUIRY_STAT' AND conf_type_cd = inquiry_stat) as inquiry_stat_nm,
			reg_date,
			answer_date
		FROM dec_inquiry
		WHERE inquiry_idx = #{inquiry_idx}
	]]>
	</select>
	
	<update id="updateBoardInquiryAnswerFromAdmin" parameterType="inquiry">
	<![CDATA[
		UPDATE dec_inquiry
		SET inquiry_answer = #{inquiry_answer}, inquiry_stat = #{inquiry_stat}, answer_date = NOW()
		WHERE inquiry_idx = #{inquiry_idx}
	]]>
	</update>
	
	<update id="modifyBoardInquiryAnswerFromAdmin" parameterType="inquiry">
	<![CDATA[
		UPDATE dec_inquiry
		SET inquiry_answer = #{inquiry_answer}, inquiry_stat = #{inquiry_stat}, answer_date = NOW()
		WHERE inquiry_idx = #{inquiry_idx}
	]]>
	</update>
	



</mapper>
